@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik 80s Fade', cursive;
}
#tabuleiro {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px 5px black;
}

.boxTabuleiro {
    width: 33.33%;
    height: 33.33%;
    border: 1px solid black;
    
    background-color: white;
}

.boxTabuleiro:hover {
    cursor: pointer;
    background-color: gray;
}

.imgTabuleiro {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px;
}

.imgXis {
    background-image: url("../img/x.png");
}

.imgCircle {
    background-image: url("../img/0.png");
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: chocolate;
    flex-direction: column;
    color: rgb(114, 109, 73);
}
.login {
    width: 400px;
    height: 450px;
    padding: 30px;
    background-color: rgb(255, 230, 0);
    background-color: white;
    box-shadow: 0px 0px 15px 5px black;
    text-align: center;
}
h1 {
    font-size: 32px;    
}
input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 10px 0;
    padding-left: 10px;
}
input[type=button] {
    border: 1px solid rgb(114, 109, 73);
    border-radius: 3px;
    background-color: rgb(114, 109, 73);
    color: white;
    cursor: pointer;
    padding: 0;
}


form {
    width: 100%;
    margin: 50px 0;
}

.alert {
    font-weight: bolder;
}

.message {
    left: 50%;
    top: 20px;
    margin-left: -200px;
    text-align: center;
    position: fixed;
    width: 400px;
    padding: 19px 60px;
    background-color: white;
    border-radius: 3px;
    color: darkorange;
    animation: slidein 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.jogador {
    text-align: center;
    left: 50%;
    top: 20px;
    margin-left: -200px;
    position: absolute;
    width: 400px;
    padding: 19px 60px;
    background-color: white;
    border-radius: 3px;
    color: darkorange;
    animation: slidein 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slidein {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.message::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: black;
    animation: time 3s forwards;
}

@keyframes time {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.btn {
    position: absolute;
    top: 45%;
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: black;
    color: chocolate;
    border-radius: 5px;
}


.btnR {
    right: 10%;
    animation: btnTimeR 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    
}

@keyframes btnTimeR {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.btnL {
    left: 10%;
    animation: btnTimeL 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

}
@keyframes btnTimeL {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}