<!DOCTYPE html>
<html lang="pt-br" th:include="conteudo/main :: main">

<body>
    <main th:fragment="content">
        <div class="d-flex justify-content-evenly mx-auto mb-3" style="width: 1000px;">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati enim ad minus laboriosam, non modi et aliquam esse quos tempore cumque? Neque alias iste amet. Error itaque voluptatibus non sint?</div>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi accusantium totam veniam, placeat reiciendis tenetur autem beatae, possimus illo numquam temporibus cum architecto aut asperiores voluptatem soluta alias voluptate repellendus.</div>
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, veniam. Expedita, totam incidunt tenetur unde aliquid officia omnis voluptas vel quisquam. Facilis, veritatis perferendis quas in temporibus libero ullam fugit?</div>
        </div>
    </main>
</body>
</html>