<!DOCTYPE html>
<html lang="pt-br" th:include="conteudo/main::main">
<body>
    <main th:fragment="conteudo">
        <form action="/novoproprietario" method="post" th:object="${proprietario}">
            <label for="">Nome</label>
            <input type="text" th:field="*{nome}">
            <label for="">Telefone</label>
            <input type="tel" th:field="*{telefone}">
            <input type="submit" value="Cadastrar">
            <input type="reset">
        </form>
    </main>
</body>
</html>