<!DOCTYPE html>
<html lang="pt-br" th:include="conteudo/main::main">
<body>
    <main th:fragment="conteudo">
        <form action="/novoapto" method="post" th:object="${apartamento}">
            <label for="">Numero de portas:</label>
            <input type="number" th:field="*{numPortas}">
            <label for="">Quantidade quartos:</label>
            <input type="number" th:field="*{qtdQuartos}">
            <label for="">Tipo:</label>
            <select name="" id="" th:field="*{tipo}">
                <option value="Proprietário">Proprietário</option>
                <option value="Inquilino">Inquilino</option>
                <option value="Vazio">Vazio</option>
            </select>
            <label for="">Proprietário</label>
            <select th:field="*{proprietario.id_proprietario}">
                <option 
                    th:each="prop: ${proprietario}"
                    th:value="${prop.id_proprietario}"
                    th:text="${prop.nome}"
                ></option>
            </select>
            <input type="submit">
        </form>
    </main>
</body>
</html>